.navContainer {
  padding: 30px 40px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}

.nav {
  display: block;
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
}

.left,
.right {
  flex: 1;
}

.left {
  text-align: start;
  display: inline-block;
}

.nav a {
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

.nav a:hover {
  border-bottom: 1px solid white;
}

.nav ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
}

.nav li {
  list-style-type: none;
}
