/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* END RESET */

:root {
  --white: rgba(255, 255, 255, 0.87);
  --grey: rgba(255, 255, 255, 0.705);
  --darkGrey: #28292a;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;
  font-size: 1.1rem;
}

main {
  text-align: center;
  max-width: 750px;
  margin-inline: auto;
  margin-top: 30px;
}

h2,
h3 {
  line-height: 1;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.exercisesContainer {
  margin-top: 50px;
  text-align: start;

  display: flex;
  justify-content: space-around;
}

.exercisesContainer h2 {
  margin-bottom: 10px;
}

.exercisesContainer a {
  text-decoration: underline;
  transition: color 0.2s;
}

.exercisesContainer a:hover {
  color: var(--grey);
}

.exerciseContainer {
  max-width: 800px;
  margin-inline: auto;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 40px;
}

.exerciseContainer em {
  margin-bottom: 50px;
}
